langchain_community
python-dotenv
langchain-ollama
openai
langchain_openai
sqlalchemy
psycopg2-binary
paramiko
langchain-text-splitters
streamlit
python-docx
matplotlib
langgraph
langchain_postgres
sentence_transformers
# docx2txt
scikit-learn
# unstructured